Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [16]:
var1 = ' I Love data science '

print(type(var1),var1)
print('*'*10)

var2 = [1,2,3,4,5]
print(type(var2),var2)
print('*'*10)

var3 = 23.5
print(type(var3),var3)
print('*'*10)

var4 = (1,2,3,4,5)
print(type(var4),var4)
print('*'*10)

<class 'str'>  I Love data science
**********
<class 'list'> [1, 2, 3, 4, 5]
**********
<class 'float'> 23.5
**********
<class 'tuple'> (1, 2, 3, 4, 5)
**********

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [25]:
var1 = '  '
print('The data type of var1 is -',type(var1))
print('*'*10)
var2 = '[ DS , ML , Python]'
print('The data type of var2 is -',type(var2))
print('*'*10)
var3 = [ 'DS' , 'ML' , 'Python' ]
print('The data type of var3 is -',type(var3))
print('*'*10)
var4 = 1.
print('The data type of var4 is -',type(var4))

The data type of var1 is - <class 'str'>
**********
The data type of var2 is - <class 'str'>
**********
The data type of var3 is - <class 'list'>
**********
The data type of var4 is - <class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /  -->  Division
(ii) % --> Reminder
(iii) // --> floor Division
(iv) ** --> Power

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [30]:
list1 = [1,2,3.3,'shantanu',4.53,23.5,4+8j,True,'End']

print('The length of the list is -',len(list1))
print('*'*50)

for i in list1:
    print(f'The data type of {i} in the list is -',type(i))

The length of the list is - 9
**************************************************
The data type of 1 in the list is - <class 'int'>
The data type of 2 in the list is - <class 'int'>
The data type of 3.3 in the list is - <class 'float'>
The data type of shantanu in the list is - <class 'str'>
The data type of 4.53 in the list is - <class 'float'>
The data type of 23.5 in the list is - <class 'float'>
The data type of (4+8j) in the list is - <class 'complex'>
The data type of True in the list is - <class 'bool'>
The data type of End in the list is - <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [46]:
A = 20
B = 5

D = 0

while A % B == 0:
    print(' A is divisible by B ')
    D+=1
    break
else:
    print('A is not divisible by B')

print('The count of division is -',D)

 A is divisible by B
The count of division is - 1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [59]:
list12 = list(range(1,26))

for i in list12:
    if i % 3 == 0:
        print(f'The number {i} is divisible by 3')
    else:
        print(f'The number {i} is not divisible by 3')

The number 1 is not divisible by 3
The number 2 is not divisible by 3
The number 3 is divisible by 3
The number 4 is not divisible by 3
The number 5 is not divisible by 3
The number 6 is divisible by 3
The number 7 is not divisible by 3
The number 8 is not divisible by 3
The number 9 is divisible by 3
The number 10 is not divisible by 3
The number 11 is not divisible by 3
The number 12 is divisible by 3
The number 13 is not divisible by 3
The number 14 is not divisible by 3
The number 15 is divisible by 3
The number 16 is not divisible by 3
The number 17 is not divisible by 3
The number 18 is divisible by 3
The number 19 is not divisible by 3
The number 20 is not divisible by 3
The number 21 is divisible by 3
The number 22 is not divisible by 3
The number 23 is not divisible by 3
The number 24 is divisible by 3
The number 25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable = The Variables in which we can add, delete, update are the type of mutable data types.

Immutable = The Variables in which we can not add, delete, update are the type of immutable data types.


for example :-


For List

Mutable = [1,2,3,4,5,6,7,8,9]

Mutable[-1] = 10
Mutable

[1, 2, 3, 4, 5, 6, 7, 8, 10]


For Tuple ( Its will through error)

Immutable = (1,2,3,4,5,6,7,8,9)

Mutable[-1] = 10
Mutable

[1, 2, 3, 4, 5, 6, 7, 8, 10]

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[66], line 3
      1 Immutable = (1,2,3,4,5,6,7,8,9)
----> 3 Immutable[-1] = 10
      4 Immutable

TypeError: 'tuple' object does not support item assignment