Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is a systmatic collection of information which is stored in such a way that it can be easily accessed,
retrieved, manage and update.
it is were all the data is stored in the form of rows and columns i:e - tables.

SQL - Structured query langugae is a type of database in which SQL, MySQL, MSSQL, DB2, Oracle 11G/12G type of db
      is available. 
    
      SQL is a relational database which means they use structure schemas and tables to store data. like rows and
      columns 
    
      SQL databases are often used for applications with complex queries and transactions, where data integrity and
      relationships are crucial.
    
NoSQL -  Not only SQL is a databases are non-relational and can be schemaless. They can store data in various 
         formats such as key-value pairs.
         
         NoSQL databases are often schema-less, meaning data can be inserted without a predefined schema.
            
        NoSQL databases are designed to scale horizontally, meaning you can add more servers to distribute 
        the load.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Defination Language its a subset of SQL. mostly its use to define the database and 
also to manage the database. DDL is used for CREATE, DROP, ALTER & TRUNCATE.

CREATE - It is use to create a new databases / Tables / index etc.

exm - CREATE DATABASE DB_Name;

      CREATE TABLE emp_data(emp_id int, emp_name varchar(30), Salary int, emp_location varchar (50));
    
DROP - It is use to remove the objects in the Databases like table, column.

exm - DROP TABLE emp_data;
      DROP COLUMN emp_name;
    
    It will delete all the rows and columns as well as the structure from the database.
    
Alter - It is use to modify or to update the table by adding and removing the column/rows.

exm - ALTER TABLE emp_data Contact int;
    
      ALTER TABLE emp_data modify column empid int;
        
      ALTER TABLE emp_data DROP column Contact;
    
TRUNCATE - It is use to delete all rows present in the structure and only columns will be remain in the TABLE.

exm - TRUNCATE TABLE emp_data;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL used for manipulating data stored in a
relational database. DML used for inserting, updating, and deleting data in database tables.

INSERT - It is use for inserting the data in the table in the form of rows.

exm - INSERT into emp_data( emp_id, emp_name, Salary, emp_location)
      values (10010, "Shantanu", 76000, "pune"),
              (10011, "Ayush", 86000, "Nagpur");
    
UPDATE - It is use for update the records which is already present in the table.

exm - UPDATE emp_data SET emp_name = 'Jane' WHERE emp_id = 10011;


DELETE - Its is use to delete a perticular row or complete rows from the structure.

exm - DELETE from emp_data WHERE emp_location is Nagpur;

      DELETE from emp_data;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query language. Its a subset of SQL and its use for querying and retrieving the data from 
the database. SELECT statement is used here for query the database and retrieve the data from it.

Exm - SELECT * from emp_data;

this will fetch the data from the emp_data Table from the data base.

for sepcific columns we need to mentioion the column name as below.

SELECT emp_id from emp_data;

Q5. Explain Primary Key and Foreign Key.

Primery key constrain will uniquely indentify each rows present in the table and ensure that the primery 
key's column must have only unique values in it. Primary key will check the values of the column which is 
set as a foriegn key and ensure that it contain only unique values only.

Foriegn key constrain ensure that the values in a column which is set a foriegn must match with the primary
key column values.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#create a file_name.py

#importing the library

import mysql.connector

#creating user and password

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

print(mydb)

mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASE")

for i in mycursor:
    print(i)
    
Cursor = In the context of SQL and database connectors, the term "cursor" typically refers to a programming construct that allows you to iterate over the rows of a result set retrieved by a SQL query. Cursors are used to process rows returned by a SELECT statement one at a time, and they provide a way to navigate and manipulate the data.

Execute = Basically it is use to execute a stored procedure or a dynamically constructed SQL statement.

Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, a query is typically constructed using several clauses, and the order of execution follows a specific 
sequence. The basic structure of a SELECT statement, which is the most common type of SQL query, includes the
following clauses, and they are generally executed in the following order:

SELECT: FROM: WHERE: GROUP BY: HAVING: ORDER BY: