In [ ]:
Q1. List any five functions of the pandas library with execution.

In [ ]:
import pandas as pd

1) read_csv: Reads function is use to read a CSV file into a pandas DataFrame.
 
dataframe = pd.read_csv('Example.csv')

2) head: Displays the first 5 rows of a DataFrame.
    
dataframe.head()

3) describe: Generates descriptive statistics of a DataFrame.
    
dataframe.describe()

4) Tail: Tail function is use to show last 5 rows of a dataframe.abs

dataframe.tail()

5) Shape : Shape function is use to show the size(The rows and the columns count) of the dataframe.

dataframe.shape()

In [ ]:
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [6]:
import pandas as pd

dataframe_1 = pd.DataFrame({'A': [10, 20, 30],
                            'B': [40, 50, 60],
                            'C': [70, 80, 90]})
new_index = range(1, len(dataframe_1) * 2, 2)
df_reindexed = dataframe_1.set_index(pd.Index(new_index))
df_reindexed

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [ ]:
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [8]:
df_1 = pd.DataFrame({"Value":[10, 20, 30, 40, 50]})
df_1

   Value
0     10
1     20
2     30
3     40
4     50

In [19]:
def calculate(df):
    
    values = df['Value'].iloc[:3]
    sum_values = sum(values)
    print(f"The sum of 1st three values are - {sum_values}")

In [20]:
calculate(df_1)

The sum of 1st three values are - 60

In [ ]:
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [31]:
df = pd.DataFrame({"Text": ["This is a sample text.",
                            "Another example",
                            "Python is fun!"]})

spliting = df['Text'].str.split()
df['Word_Count'] = spliting.apply(len)
df

                     Text  Word_Count
0  This is a sample text.           5
1         Another example           2
2          Python is fun!           3

In [ ]:
Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
Basically .size return the total number of elements present in the dataframe and .shape return the dimension of the dataframe 
in the form of rows and columns count.

In [ ]:
Q6. Which function of pandas do we use to read an excel file?

In [ ]:
The function of pandas we use to read an excel file is pd.read_excel('example_excel')

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [32]:
df = pd.DataFrame({"Email": ["john.doe@example.com",
                             "shantanu.Nampalliwar@example.com",
                             "Ayush.Verma@example.com"]})
df

                              Email
0              john.doe@example.com
1  shantanu.Nampalliwar@example.com
2           Ayush.Verma@example.com

In [43]:
username = df["Email"].str.split('@')
new = []
for i in username:
    new.append(i[0])
    
print('User_Name - ',new)

User_Name -  ['john.doe', 'shantanu.Nampalliwar', 'Ayush.Verma']

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

In [45]:
df_11 = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]})
df_11

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [48]:
new_rows = df_11[(df_11['A'] > 5) & (df_11['B'] < 10)]
new_rows

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2