In [2]:
import pandas as pd

In [ ]:
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [11]:
df = pd.DataFrame({"course_name" : ["Data Science", "Machine Learning", "Big Data", "Data Engineer"],
                   "duration" : [2,3,6,4]})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [10]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc is primarily label-based, meaning that you use column and row labels to index data.It takes two single or a 
range of labels and returns the data at the corresponding locations.

iloc is primarily integer-based, meaning that you use integer indices to index data.It takes two single or a range 
of integers and returns the data at the corresponding locations.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [18]:
df = pd.DataFrame({
    'A': [10, 20, 30, 40],
    'B': [50, 60, 70, 80]
})
print(df)

    A   B
0  10  50
1  20  60
2  30  70
3  40  80

In [19]:
reind = [3,0,1,2]
new_df = df.reindex(reind)

print('ReIndex_DataFrame')
print(df_Reindex)

ReIndex_DataFrame
    A   B
3  40  80
0  10  50
1  20  60
2  30  70

In [22]:
loc_result = new_df.loc[2]
iloc_result = new_df.iloc[2]

print(loc_result)
print("*"*50)
print(iloc_result)

A    30
B    70
Name: 2, dtype: int64
**************************************************
A    20
B    60
Name: 1, dtype: int64

Basically loc function will consider the index value which is 30 and 70 in the new_df datafarme, as we know loc function 
will take index value as a argument here. 

And in iLoc function, when we give iloc[2] here it take the argument and will give the output as per the index arrange in
the dataframe.It will not consider 2 as a value of index.

In [34]:
# Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns= columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.632514  0.850334  0.306790  0.093611  0.485271  0.977759
2  0.586544  0.340519  0.753671  0.433257  0.361618  0.031429
3  0.843299  0.668539  0.478483  0.227476  0.131314  0.541937
4  0.775719  0.835742  0.095130  0.134623  0.145295  0.566007
5  0.653495  0.539852  0.528705  0.254710  0.325497  0.211058
6  0.951699  0.655029  0.972275  0.381379  0.103183  0.018132

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [36]:
df1.mean()

column_1    0.740545
column_2    0.648336
column_3    0.522509
column_4    0.254176
column_5    0.258696
column_6    0.391054
dtype: float64

In [38]:
std_dev_column_2 = df1['column_2'].std()
std_dev_column_2

0.1912574512262104

In [ ]:
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [41]:
df1.loc[2, 'column_2'] = 'string_data'
df1

   column_1     column_2  column_3  column_4  column_5  column_6
1  0.632514     0.850334  0.306790  0.093611  0.485271  0.977759
2  0.586544  string_data  0.753671  0.433257  0.361618  0.031429
3  0.843299     0.668539  0.478483  0.227476  0.131314  0.541937
4  0.775719     0.835742  0.095130  0.134623  0.145295  0.566007
5  0.653495     0.539852  0.528705  0.254710  0.325497  0.211058
6  0.951699     0.655029  0.972275  0.381379  0.103183  0.018132

In [42]:
mean_column_2 = df1['column_2'].mean()
mean_column_2

TypeError: unsupported operand type(s) for +: 'float' and 'str'

the attempt to calculate the mean of 'column_2' will raise an error because the presence of the string 'string_data' 
prevents the calculation of the mean for a numerical column. If we need to replace the data in a numerical column with 
a string, we should be cautious and aware that subsequent numerical operations on that column may not be valid.

In [ ]:
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In Pandas, window functions (also known as rolling or moving functions) are operations that operate on a specified window
of data points moving over a series or DataFrame. These functions are particularly useful for time series data and can be
applied to calculate various aggregations within a rolling window.

Types

Rolling Mean
Rolling Sum
Rolling Standard Deviation
Rolling Min and Max
Exponential Moving Average
Expanding Window Functions

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [45]:
from datetime import datetime

current_date = datetime.now()
current_month_year = pd.to_datetime(current_date).strftime('%B %Y')
print("Current Month and Year:", current_month_year)

Current Month and Year: December 2023